.main_container {
    display: flex;
    justify-content: center;
    margin: 70px 0px;
}

.container {
    max-width: 1152px;
}

.container_item h4 {
    text-align: left;
    margin: 10px;
    font-size: 18px;
}

.container_item div {
    width: 100%;
}

p {
    text-align: left;
}

img {
    image-orientation: inherit;
}

.container_items a {
    text-decoration: none;
    color: black;
    width: 100%;

}

.container_item img {
    width: 100%;
}

.container_item p {
    color: #828282;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.btn {
    background: #000;
    height: 52px;
    width: auto;
    padding: 0 36px;
    border: 1px solid;
    font-size: 18px;
    color: #fee600;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    font-family: Amalia-Medium, sans-serif;
}

.btn:hover {
    background-color: #FEE600;
    color: black;
}

.head_of_container {
    font-family: Amalia-Medium, sans-serif;
    font-size: 25px;
    margin: 15px;
}

.image_size {
    height: 264px;
    width: 100%;
    min-width: 354px;
    align-self: flex-start;
}

.back_1 {
    background-image: url('../image/frame-13213146421.png');
    background-size: cover;
}

.back_2 {
    background-image: url('../image/frame_2.png');
    background-size: cover;
}

.back_3 {
    background-image: url('../neshchasni-vipadki.jpg');
    background-size: cover;
}

.back_2_1 {
    background-image: url('../image/frame-2-1.png');
    background-size: cover;
}

.back_2_2 {
    background-image: url('../image/frame-2-2.png');
    background-size: cover;
}

.back_2_3 {
    background-image: url('../image/frame-3-2.jpg');
    background-size: cover;
}

.back_3_1 {
    background-image: url('../image/frame-3-1.png');
    background-size: cover;
}

.back_3_2 {
    background-image: url('../image/frame-3-2.png');
    background-size: cover;
}

.back_3_3 {
    background-image: url('../image/frame-3-3.png');
    background-size: cover;
}


.container_items {
    display: flex;
}

.container_item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    background-color: #f3f3f3;
    width: 100%;
    align-items: stretch;
    filter: grayscale(1);
}

.container_item:hover{
    filter: grayscale(0);
    cursor: pointer;
}

.container_item:hover .btn_details {
    opacity: 1; /* Кнопка стає видимою */
    visibility: visible; /* Відображає кнопку */
}

@media (max-width: 1400px) {
    .container_item {
        filter: grayscale(0);
    }
}

.btn_details {
    display: flex;
    height: 50px;
    background-color: #FEE600;
    align-items: center;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    opacity: 0; /* Кнопка невидима */                                        
    visibility: hidden; /* Кнопка не відображається */                               
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Анімація появи */       
}

.last-item {
    align-self: flex-end;
}

.div_content {
    height: 200px;
    padding: 24px 16px;
}

.footer_bottom {
    display: flex;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    max-width: 1152;
}

.header_top_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_bottom {
    background-color: #FEE600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_bottom_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    padding: 20px 16px 30px 164px;
}

.header_top_menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none
}

.header_top_menu ul li {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.header_top_menu ul li a {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1152px;
}

.main_div_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEE600;
    padding-top: 64px;
    padding-bottom: 64px;
}

.main_div_banner_container {
    padding: 0 15px;
    margin: 0 142px;
}

.h1_banner {
    font-size: 64px;
    margin: 0 0 16px;
}

.banner p {
    font-size: 44px;
}

.first_div_banner {
    margin-right: 30px;
    font-family: Amalia-Bold, sans-serif;
}

.info-section {
    margin: 112px 0;
    display: flex;
    justify-content: center;
}

.info-block {
    display: flex;
}

.info-block p {
    font-size: 20px;
    color: #828282;
}

.container_items p {
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.5em;
}

.info-block img {
    margin: 0 50px;
    width: 510px;
    height: 400px;
}

button {
    cursor: pointer;
    background-color: #FEE600;
    color: black;
}

button:hover {
    background-color: black;
    color: #FEE600;
}

.header__bottom_menu a {
    text-decoration: none;
    color: black;
}

.header__bottom_menu ul {
    display: flex;
}

.header_top_button_payments {
    cursor: pointer;
}

.language-dropdown {
    color: #828282;
    background: 0 0;
    transition: color .15s ease-in-out;
    padding: 4px 16px 4px 8px;
}

.header_top_button_payments a {
    text-decoration: none;
    color: black;
}

.header_bottom_logo {
    margin-left: 50 px;
}

body {
    margin: 0;
}

.header_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section-button {
    background: #FEE600;
    height: 52px;
    width: auto;
    padding: 0 36px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    font-family: Amalia-Medium, sans-serif;
    margin-top: 50px;
}

.info-section-button:hover {
    background-color: black;
    color: #FEE600;
}

.info-block-reverse {
    flex-direction: row-reverse;
    align-items: stretch;
}

.info-block-reverse img {
    width: 700px;
    margin-left: 100px;
    margin-right: 0;
    border-radius: 25%;
}

.info-block-1 {
    display: flex;
    justify-content: flex-start
}

.info-block-1 p {
    max-width: 700px;
    margin: 50px 0px 50px 0px;
    font-size: 20px;
    line-height: 1.5;
}

.test {
    margin-top: 90px;
    margin-left: 100px;
}

.header_bottom_nav {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: stretch;
}

.header_bottom_nav_button {
    margin-right: 10px;
    margin-top: 0;
}

.header_bottom_nav_search {
    background-image: url(/image/search_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 10px;
    margin-left: 10px;
    background-size: 25px 25px;
}